alias dotfiles="cd ~/Development/github.com/carusog/dotfiles/ && nvim ."
alias dots="cd ~/Development/github.com/carusog/dotfiles/ && nvim ."
alias zshconfig="cd ~/.zshrc && nvim ."
alias ohmyzsh="cd ~/.oh-my-zsh/custom/ && nvim ."
alias sz="source ~/.zshrc"

alias lg='lazygit'

# better path printing
alias ppp="tr ':' '\n' <<< "$PATH""

# Unaliasing g cause g-ls conflicts with it,
# and typing `git` is not a big issue, isn't it? 
unalias g
